body
{
    margin:0;
    padding:0;
}

#overlay
{
    position: fixed;
    height: 100%;
    width: 100%;
    background-image:url("../image/tranback.png");
    background-repeat: repeat;
    display: none;

}

#overlay a
{
    position: fixed;
    display: block;
    height: 100%;
    width: 100%;
    border: 1px solid red;
    z-index: 10;
}


#bigimg
{
    position: fixed;
    top: 20%;
    height: 20em;
    width: 100%;
    overflow:hidden;
}

#bigimg ul
{
    margin:0;
    padding:0;
    border: 1px solid blue;;
    list-style: none;
    height: 20em;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#bigimg ul li
{
    width: 100%;
    overflow: hidden;
    z-index: 20;
}

#bigimg ul li img
{
    width: 100%;
    height: 20em;
}




#smallimg
{
    width: 100%;
    height:20em;
    
    overflow: hidden;
}

#smallimg li
{
    width: 4em;
    height: 4em;
    overflow: hidden;
    margin-right: 20em;
    
}

#smallimg li img
{
    width: 4em;
    height: 4em;
}