
    body
    {
        margin:0;
        padding:0;
        background-color: #bababa;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
    }

    article
    {
        text-align: left;
    }
    body ul,li
    {
        margin:0;
        padding:0;
        list-style: none;
    }

    body a
    {
        text-decoration: none;
    }

    body a:visited,a:link 
    {
        color:inherit;
    }


    #top-wrapper
    {

        width: 100%;
        height: 7em;
        background-color: #1A1A1A;
        z-index: 10;
    }

    #center-top-wrapper
    {
        width: 60%;
        margin-left:auto;
        height: 100%;
        margin-right: auto;

    }

    header
    {
        background-image: url(../image/logo_desktop.png);
        background-size: 20em 7em;
        background-repeat: no-repeat;
        float: left;
        height: 100%;
        width: 20em;
        text-align:center;
    }

    header a
    {
        display:block;
        height: 7em;
        width: 20em;
    }

    h2
    {
        text-align: center;
    }
    h3
    {

    }

    #main-wrapper
    {
        width: 60%;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        min-height: 800px;
        clear: both;
        overflow: hidden;
    }

    main
    {
        clear: both;
        width: 75%;   
        min-height: 100%;
        float:left;
        border-right: 1px solid black;
    }

    aside
    {
        width: 24%;
        min-height: 100%;
        float:right;
    }
    
    aside ul
    {
        border: 1px solid red;
        width: 80%;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
    }
    
    aside li
    {
        
    }
    
    aside li img
    {
        height: 10em;
        width: 100%;
        padding:0;
        margin:0;
    }
    
    
    
    
    

    footer
    {
        width: 100%;
        
        text-align: center;
        background-color: #1A1A1A;
        overflow:hidden;
    }

    #centerfooter
    {
        width: 30%;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
    }

    #centerfooter ul
    {
        float: left;
        margin-left: 15%;
        color:white;
    }

    #centerfooter li
    {
        margin-bottom: 0.2em;
        font-size: 0.8em;
    }
    
    

    #centerfooter .firstlist
    {
        font-size: 1em;
        color: #cccccc;
    }

    #copyright
    {
        width: 100%;
        text-align: center;
    }
    
    #copyright p 
    {
        font-size: 0.8em;
        color: white;
    }
    
    footer hr
    {
        background-color: #333333;
        color: #333333;
        border-color: #333333;
    }
    
    
    #nav-wrapper
    {
        display:none;
        background-color: black;
    }

    #navigation {
    position: fixed;
    right:0;
    top:0;

    background-color: #1A1A1A;
    width: 0;
    color: white;
    height: 100%;
    
    -webkit-transition: width 1s, height 4s; /* Safari */
    transition: width 1s, height 0s;

    }


     #navigation:target
     {
         width: 20%;
     }

     #navigation ul
     {
         
         margin: 0;
         padding:0;

     }

     #navigation li
     {
         list-style: none;
         padding: 0px;
         margin: 0;
         width: 100%;

         overflow:hidden;
         text-align: center;



     }

     #navigation li a
    {
        width: 100%;
        display:block;
        padding:3% 0 3% 0;
        vertical-align: middle;

    }


    #navigation a:hover
    {
        background-color: black;


    }



     #opennav
     {
         display: block;
     }

      #opennav img:hover
     {
          border-radius:2em;
          box-shadow: 0px 0px 20px #00ff00;
     }

      #closenav img
     {
         border-radius:2em;
         box-shadow: 0px 0px 20px #ff3333;
     }

     #closenav
     {
         display:none;
     }

     #navbutton
    {
        text-align: center;
        float: right;
        margin-top: 1.5em;
        margin-right: 2em;
        width: 4em;
        height: 4em;
    }



     #navbutton img
     {
         height: 4em;
         width: 4em;
     }

     #topnav
     {
        width: 100%;
        height: 7em;
        background: #1A1A1A;
     }

     #topnav h2
     {
         text-align: center;
         margin:0;
         padding:0;
     }

     .previewone
     {

         width: 100%;
         min-height: 20px;

         overflow: hidden;
         margin-top: 1em;
         margin-bottom: 1em;
     }

     .previewone ul
     {

     }
      .previewone li
     {
         padding: 7em 0;
          width: 100%;
          text-align: center;
    }

     .previewtwo
     {
         width: 100%;
         min-height: 20px;

         overflow: hidden;
         margin-bottom: 1em;
     }

      .previewtwo ul
     {

     }
      .previewtwo li
     {

          float: left;
          padding: 7em 0;
          width: 49.7%;
          text-align: center;
    }

     .previewthree
     {
         margin-bottom: 1em;
         width: 100%;
         min-height: 20px;

         overflow: hidden;
     }

      .previewthree ul
     {

     }
      .previewthree li
     {
          float: left;
          padding: 7em 0;
          width: 33%;
          text-align: center;

    }
     #articlepictures
     {  
        text-align: center;
        margin: 5%;
        max-width: 90%;
        padding: 25px;
    }  
     #articleintro h1
     {
         text-align: center;
     }

     .articlepreview
     {
         width: 90%;
         min-height: 20px;
         margin: 5%;
         overflow: auto;
     }

     .subpictures ul li
     {
        text-align: center;
        min-width: 60%;
        min-height: 10%;
     }

     .subpictures ul li img
     {
         box-shadow: 2px 2px black;
         width: 90%;
     }

     .subpictures h4
     {
         margin-top: 10%;
     }


     /*TEMP TEST FOR ARTICLE */

     main article
     {

         margin-left: 1em;
         margin-right: 1em;
     }

     .articleheaderimg
     {
         width: 100%;
     } 

     main article h2
     {
         text-align: left;
         padding:0;
         margin-bottom: 0;
     }
      main article h4
     {
         text-align: left;
         margin:0;
         padding:0;
     }

     main article hr
     {
         margin:3.5em 0 0 0;
         padding:0;
     }

     main article img
     {
         width:100%;
     }

     #sharebuttons
     {
        height: 1.6em;
     }

    #sharebuttons .fb-share-button 
    {
        float: left;
        z-index: 0;
    }

     #sharebuttons .twitter-share-button
     {
      float: left;
      margin-top: 0.3em; 
     }

    #sharebuttons #gplus
     {
    float: left;
    margin-top: 0.3em;
    margin-left: 0.2em;
     }

     #articleinfo
     {
         margin-top: 1em;
         width: 100%;

     }

     #articleinfo #author
     {
         width: 40%;

         float: left;
     }
     #articleinfo #author img
     {
         height: 2.3em;
         width: 2em;
         float: left;
         margin:0;
         padding: 0;
         margin-right: 0.5em;
     }

    #articleinfo #author p
     {
         font-style: italic;
         font-size: 0.8em;
         margin:0 0 0 1em;
         padding: 0;

     }

     #articleinfo #publishdate
     {
         margin-top: 1.2em;
         float: right;
     }

      #articleinfo #publishdate p
     {

         float: right;
         font-style: italic;
         font-size: 0.8em;
         margin:0 0 0 0em;
         padding:0;
     }

     .bigletter
     {
         font-size: 1em;
         font-weight: bold;
     }

     /* TEMP TEST FOR IMAGE PREVIEW*/

     #overlay
{
    position: fixed;
    height: 100%;
    width: 100%;
    background-image:url("../image/tranback.png");
    background-repeat: repeat;
    display: none;
    z-index: 5;

}

#overlay a
{
    position: fixed;
    display: block;
    height: 100%;
    width: 100%;
    z-index: 10;
}


#bigimg
{
    position: fixed;
    top: 20%;
    width: 100%;
    overflow:hidden;
}

#bigimg ul
{
    margin:0;
    padding:0;
    list-style: none;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#bigimg ul li
{
    width: 100%;
    overflow: hidden;
    z-index: 20;
}

#bigimg ul li img
{
    width: 100%;
}

#about
{
    overflow: hidden;
    margin-top: 4em;
    margin-bottom: 2em;
    margin-left: 2em;
}

#about p
{
    font-size: 80%;

}
     
#about img
{
    float: left;
    width: 3.2em;
}

#about ul li
{
    float: left;
    width: 100%;
    margin-bottom: 1em;
}

#about ul
{
    float:left;
    width: 49.5%;
    list-style: none;
}

#about ul li p
{
    padding: 0;
    margin: 0;
    margin-left: 5.5em;
}

#about ul li p:first-of-type
{
    font-weight: bold;
    
}

#about #leftabout li
{
    margin-left: 4em;
}

#about #rightabout li
{
    margin-left: 2em;
}

     /*TEMP TEST SLUTT */


     @media screen and (max-width: 1024px){

         body
         {
             background-color: red;
         }

         #center-top-wrapper
        {
        width: 100%;
        }

        #main-wrapper
    {
        width: 100%;
        border: 1px solid red;
        margin:0;
        min-height: 800px;
        clear: both;
    }   

     #topnav
     {

         z-index: -1;
     }
     
     }
     
     